[2013-10-15 08:50] pgayvallet opened #2 "$destroy handling make angular crash when changing view in angular 1.2.0-rc2"
Hello,

The call to

[code]

Seems to make angular crash during scope cleanup ( when changing/togling view, either with ng-view, ng-if or any other view based directive )

Commenting these lines fixes the issue ( not even sure if there are sides effects because all bootstrapSwitch data are bound to the element, so 'naturally' cleaned up during element removal )

This seems to be caused because the

[2013-12-09 07:50] thak123 opened #5 "Throws error with angular latest 1.2.4 $scope.digest already in progress"
var listenToModel = function() {
          scope.$watch('ngModel', function(newValue) {
            if (newValue !== undefined) {
              element.bootstrapSwitch('setState', newValue || false,true);
            }
          });

thows scope.digest error even though it is $Timeout function

[2013-12-11 12:47] #2 closed, assigned to nobody

[2013-12-11 12:50] #5 closed, assigned to nobody

[2013-12-11 14:54] gianmarcotoso opened #6 "Throws a $apply already in progress with angular 1.2.4 when used as an attribute"
Using the latest version, everything works fine as long as the directive is used as an element. If it's used as an attribute, the `$apply already in progress` error is thrown.

[2013-12-11 14:56] gianmarcotoso opened #7 "Set the default value for switch-active to true"
A control should be enabled by default, and disabled only in specific cases. Therefore I suggest setting the default value for the switch-active attribute to true.

[2013-12-12 09:36] #6 closed, assigned to frapontillo

[2013-12-12 09:36] #7 closed, assigned to frapontillo

[2014-01-22 17:47] rafinskipg opened #8 "Remove "template" option in directive"
If you remove

[code]

From your code, it will still work on IE 8, otherwise it doesn't work.

[2014-02-13 13:28] LostCrew opened #10 "Update internal API calls for Bootstrap Switch 3"
hello,

Bootstrap Switch 3 is going to be released. can you add support for it?

[2014-02-22 10:43] #10 closed, assigned to frapontillo

[2014-02-22 10:46] #8 closed, assigned to nobody

[2014-03-05 15:21] istibekesi opened #12 "Existing ngModel inject to the directive"
Hi,

I'm not sure is it intended to work like this?

![capture](https://f.cloud.github.com/assets/5990010/2334241/7106b028-a476-11e3-9761-3db4f981d38d.PNG)

In the example application there are 3 scopes, and each has it's own $scope.isSelected model. And these are working separately.

What i need is to bind the model to an exsiting value, to do it i modifed the directive and it's usage, i have add

[2014-03-06 11:52] #12 closed, assigned to nobody

[2014-04-09 16:27] marcopg opened #15 "Support a wider range of angular, jquery and boostrap versions"
Currently, if you want to use latest stable angular, jquery and boostrap versions, you need to force bower resolution. Is there a good reason to depend on exact versions or would it be possible to depend on, for example, angular ^1.2.8?

[2014-04-11 19:48] smlombardi opened #16 "mini switch should be narrower"
I am trying to use a mini switch, and I think with min-width in the CSS of 100 px is too wide.  See attached image:
![screen shot 2014-04-11 at 3 46 47 pm](https://cloud.githubusercontent.com/assets/835148/2684023/20c2ce22-c1b2-11e3-83a2-083892a99232.png)
I would like this mini switch to be half as wide (horizontally) than it is.  It looks more balance and less "skinny".

However, setting the CSS

[2014-04-11 20:02] #16 closed, assigned to nobody

[2014-06-18 18:42] seiyria opened #18 "bootstrap 3 support?"
is this planning to support the new version of bootstrap-switch?

[2014-06-18 19:04] #18 closed, assigned to nobody

[2014-06-27 02:35] imiskolee opened #19 "dont work in angular 1.2.6"
in the angular-bootstrap-switch.js  file.

i add a row in the link function first.
element = $(element);

its work

[2014-06-27 06:23] #19 closed, assigned to nobody

[2014-06-27 06:46] #15 closed, assigned to nobody

[2014-07-09 17:37] cyrixmorten opened #20 "Disabled but showing value"
Is it possible to disable the switch and yet reflect the value of the model?

I have tried setting  switch-active to false but it makes the switch turn of even though the underlying boolean reads true.

Furthermore I have been trying to set ng-readonly and ng-disabled with no luck.

[2014-07-10 11:05] fiznool opened #21 "Switch animates when first rendered if ngModel attr is true"
When the switch is first rendered, if the ngModel attribute resolves to `true`, the switch animates from the off to on state, since the data binding has moved from `false` -> `true`.

Is there any way to stop this happening without disabling animations completely?

[2014-07-10 11:34] #21 closed, assigned to nobody

[2014-07-23 17:55] Splaktar opened #23 "Clicking the switch should always cause it to toggle"
This would match the behavior of http://www.bootstrap-switch.org/

Currently with angular-bootstrap-switch, clicking the visible Yes/No text toggles the switch. But clicking the empty area does nothing. This leads to a confusing user experience.

[2014-07-24 06:20] #23 closed, assigned to nobody

[2014-07-28 18:08] jeffsrepoaccount opened #24 "Does not respect ngTrueValue/ngFalseValue"
I have the following checkbox, that works correctly when I dump the object out into the view with `{{ component | json }}`:

[code]

However, adding the `bs-switch` directive causes the model to get 'stuck' in the on position:

[code]

The switch moves back and forth, but the underlying model is not updated, rather it stays at `"1"`

Is there a workaround where you can use 1/0 instead of true/fals

[2014-08-20 22:09] #20 closed, assigned to frapontillo

[2014-08-21 11:14] #24 closed, assigned to nobody

[2014-08-21 17:52] sbleon opened #26 "Help getting a Plunk working?"
Hi, @frapontillo ! Thanks for the cool directive!

I'm trying to add it to my project, and I'm running into one weird issue. I'm trying to construct a Plunk to demonstrate the problem so I can create an actual issue for it, but I can't quite get the Plunk working. I'm hoping someone can help me fix it so we can have a good starting place for testing issues, etc.

http://plnkr.co/edit/Stx9nVyyR3AdM

[2014-08-21 20:08] #26 closed, assigned to nobody

[2014-08-23 04:56] rajulkansara opened #28 "Event Handling"
$scope.$watch('isSelected', function() {
                              $log.info('Selection changed.');
                              console.log("IS selected")
                            });

[code]

keeping above in controller, none of them fired when checkbox is changed. However when checkbox switch created above 2 function fired but not after that. Any ideas?

[2014-08-25 20:31] k-funk opened #29 "Update readme with dependency name"
IE:
"add 'frapontillo.bootstrap-switch' to your angular app dependencies"

[2014-09-01 22:25] blindworld opened #30 "Cannot disable and toggle value at the same time."
Changing the value of the switch & setting isActive to false at the same time results in only the model value changing with the switch's position being opposite.

assuming the value is false, calling:

[code]

will result in the switch being disabled in the 'off' position, while the model value is set to 'on'.

http://plnkr.co/edit/SsWwzJTiMn0cyNLM1Kpt?p=preview

Removing the timeout around `eleme

[2014-10-23 15:42] melnikovkolya opened #31 "Request: setting HTML inside the 'switch-on/off-text' attribute"
It would be great to use Font Awesome as a text input for the switch. For that I would need to use something like this:

[code]

in the the 'switch-on/off-text' attribute.

[2014-10-23 16:10] #31 closed, assigned to nobody

[2014-10-24 21:21] #28 closed, assigned to nobody

[2014-11-04 09:22] #29 closed, assigned to nobody

[2014-11-04 17:31] karianna opened #36 "Incompatible with Angular 1.3.1"
Relies on 1.2.8? bower complains and the directive doesn't display the input

[2014-11-05 17:05] kfiil opened #37 "First toggle do not change ngModel value"
Hey,

Greate direcitve:) I have a small issue, the first toggle do not change the value of ngModel, if I call

[code]

just after

[code]

it works, do that make sense?

-KFIIL

[2014-11-05 19:31] LostCrew opened #38 "Update Bootstrap Switch required version to 3.2.0"
Don't forget to add support for the new options `handleWidth` and `labelWidth`.
Thanks for your work.

[2014-11-07 17:42] alexbeletsky opened #39 "Push it to npm"
For browserified based projects is really important to have components in `npm`. It would be great if you push this to `npm` as well. :)

[2014-11-10 15:11] #38 closed, assigned to nobody

[2014-11-10 15:12] #36 closed, assigned to nobody

[2014-11-10 15:12] #30 closed, assigned to nobody

[2014-11-10 15:41] #37 closed, assigned to nobody

[2014-11-11 10:26] PurpleSun opened #41 "Got error on height after build"
use follow code:

[code]

got follow result after run `grunt build`:
![2014-11-11 18 18 13](https://cloud.githubusercontent.com/assets/3969933/4991515/c18705a6-69cf-11e4-8192-9d1845a8b844.png)
totally confused.
(P.S. everything is OK under `grunt serve`)

[2014-11-11 10:51] #41 closed, assigned to nobody

[2014-11-12 00:49] dustin2524 opened #42 "Unwanted initial animation when false"
When my page loads I want the switch to be toggled off. There seems to be an animation to off when initialized. Setting animate to false obviously fixes this but I still want animation.

Tweaking a plunkr I found here...
http://plnkr.co/edit/j4XMzBhgNWF7kM4ApYpD?p=preview

[2014-11-12 01:51] joeltello opened #43 "error when setting the value of ng-model to "true" manually"
If I set the variable to true in my controller, the first 2 times I click on the switch it doesn't update the ng-model variable.

check out this plunker

http://plnkr.co/edit/fHZficmknopo2hGhsLh4?p=preview

[2014-11-12 07:22] #43 closed, assigned to nobody

[2014-11-19 19:52] brian-slate opened #44 "Switch not displaying properly if parent initially hidden"
If the parent is hidden initially, control does not display properly as the dimensions cannot be calculated. Is there something that can be done to trigger a "recalc"?

From the bootstrap-switch issues: https://github.com/nostalgiaz/bootstrap-switch/issues/376

The solution here was to call `$('.my-bs-switch-input').bootstrapSwitch('_width');` when visible. Needs support for ng-show/hide perhaps.

[2014-11-20 02:50] brian-slate opened #45 "Missing bootstrap-switch options"
Could you add the remaining options from the jQuery plugin (inverse, readonly, disabled, events...)? Or, maybe also/instead allow you to pass a json string into the input attribute and eval that and pass it into the jquery instantiation of bootstrapSwitch? Could make things simpler on your end anyway.

`<input bs-switch="{size: 'mini', 'switch-on-color':'primary' }"/>`

and then in link:

`angular

[2014-11-20 12:28] #44 closed, assigned to nobody

[2014-11-21 11:42] #39 closed, assigned to frapontillo

[2014-11-24 16:20] #45 closed, assigned to frapontillo

[2014-11-27 10:31] softengi opened #46 "Radio button sample"
Could you provide any sample code for radio button implementation (plunkr or something)? I am having a hard time to make this work with radio buttons and could not find a sample code anywhere.

[2014-11-28 17:25] vapits opened #47 "On browser refresh directive is broken and not functional"
If a press F5 or something similar the directive simply doesn't work.

[code]

That's the my simple code, but this is hapening also in the example.
I have try it with almost every browser.

[2014-11-29 05:30] silentFred opened #48 "model binding disabled when switch not active"
Hey there!

Firstly, thanks for the sweet little directive you made! I'm really enjoying it.
I'm not sure if this is desired behaviour, but when I de-activate a switch I can no longer change the switch state via my model data.

I am using switch-active to disable the switch to dis allow user interaction, but I still need to be able to change the model value it is bound to for returning http respon

[2014-11-30 09:48] #47 closed, assigned to nobody

[2014-11-30 15:43] #48 closed, assigned to nobody

[2014-12-02 07:49] #42 closed, assigned to frapontillo

[2014-12-10 10:25] Likon84 opened #49 "Jquery problem"
I think the whole idea of making angular directive is to avoid jquery usage...

[2014-12-10 10:31] #49 closed, assigned to nobody

[2014-12-12 10:44] adrienbrunet opened #50 "Prevent swith to post"
Hi,

I try to use this module but on each switch I make, it works as expected but it also makes a POST request on my current page. How can I prevent that? Is it related to the switch button or I made something wrong elsewhere?

Also, I have another page where I need to actually switch twice my button before it actually does something. (The modelValue or viewValue is not initialize correctly). Do y

[2014-12-12 13:14] #50 closed, assigned to nobody

[2014-12-13 16:36] piernik opened #51 "Radio button with options"
How to use this plugin with radio button? As here http://www.bootstrap-switch.org/examples.html - Radio All Off when turning on one element all others turns to off.
I cen't get it with Your plugin. Here is sample: http://plnkr.co/edit/54ByJKSF1hnWYUH0TMOL?p=preview

[2014-12-13 16:37] #51 closed, assigned to nobody

[2014-12-16 15:11] Splaktar opened #52 "A switch that is not visible on page load will not be properly initialized"
Using:
bootstrap-switch: v3.0.2
angular-bootstrap-switch: v0.4.0-alpha.1 - 2014-11-21
angularjs: 1.3.6

If the switch is within a tab that isn't initially visible, then it will not be initialized properly with the value of its ng-model. This is also true with other components that contain/hide the switch like angular-wizard, angular-material tabs (md-tab), etc.

The `scope.$watch(attrs.ngModel, fu

[2014-12-18 19:09] nofear87 opened #53 "Is it possible to add an ng-click event to the switch?"
depending on the id the switch gives to a function I will change something. So I have to watch multiple switches and react on there ids? Is it possible to add a ng-click="doSomething(id1)"? Or is there a better way doing this? Thank you!

[2014-12-29 07:39] #53 closed, assigned to nobody

[2015-01-01 04:08] queezythegreat opened #54 "Trigger digest cycle in bootstrap-switch event handler"
Hi,

The event handler which updates the the ng-model does not trigger the angular digest cycle, which causes the model to not be updated immediately. The code in question is [src/directives/bsSwitch.js#L199](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/src/directives/bsSwitch.js#L199).

You should add the following to make the changes immediate:
[code]

Here are some links

[2015-01-06 20:32] blindworld commented on #30
Sorry for the lack of update, I actually have moved from the project that was using this directive to a different project.  I alerted my previous team that your update is available for them to test, but I'm not sure if any of them actually have a github account.

[2015-01-08 16:23] rafaelmotta commented on #54
+1

[2015-01-08 16:24] frapontillo commented on #54
Could you please add a live demo?

[2015-01-15 19:46] dlwhiteman opened #55 "Error message when adding module"
Here how I am adding the module to my app:

var theApp = angular.module("theApp", ["sizeFilter", "frameRateFilter", "bitRateFilter", "angularBootstrapNavTree", "ngAnimate", "nvd3", "mgcrea.ngStrap.select", "frapontillo.bootstrap-switch"
]);

When I add this module to my app, I immediately get the following error in my console.  I'm assuming there is a possible incompatibility between angular-boots

[2015-01-15 22:55] frapontillo commented on #55
It seems like you didn't reference the directive file at all.
Can't reproduce, please attach a working plunker.

[2015-01-15 22:55] #55 closed

[2015-01-16 15:59] dlwhiteman opened #56 "bs-select won't read ng-model"
I assume I'm doing something wrong, but I cannot get the bs-select element to actually sync with the ng-model.  I did get past the previous issue, which was that I didn't have the correct .js files included.  I have "frapontillo.bootstrap-switch" in my app module list.  I have the following css and js files included in my HTML:

bootstrap-switch.min.css
bootstrap-switch.min.js
angular-bootstrap-sw

[2015-01-18 00:41] Splaktar commented on #56
Are you running into #52?

[2015-01-18 02:06] dlwhiteman commented on #56
That must be it, because the bootstrap-switch widget is on a panel that is made visible using ng-switch-when and ng-include to demand load templates for a tree-based settings dialog.  So I guess I will need to try that workaround suggested in #52.  I think I can accomplish this, because ng-include provides an onload attribute to run some code after the page is loaded.  I won't be able to test this

[2015-01-19 08:07] frapontillo commented on #52
Setting up an interval to solve this seems pretty hackish... Do you guys feel like this is an AngularJS issue? It surely looks like that to me.

[2015-01-19 08:07] frapontillo commented on #56
Duplicate of #52.

[2015-01-19 08:07] #56 closed

[2015-01-19 13:28] kaelite commented on #54
in angular-bootstrap-switch.js in row 186 changing
controller.$setViewValue(data);  -->  scope.$apply(function(){controller.$setViewValue(data);});
resolved the issue for me.
thanx for a nice widget!

[2015-01-19 16:20] dlwhiteman commented on #52
I don't think this is an AngularJS issue because I am also experimenting with another 3rd party switch widget, and it is not having this problem.

[2015-01-22 17:46] Splaktar commented on #52
Another fix that I had to do for an internal directive was to put a $scope.watch on the isolated scope attributes coming into the directive. AngularJS wasn't keeping them in sync with the outside scope changes. Using the watch allowed late changes to the outside model to be reflected within the directive.

Either this is a bug in AngularJS or a new requirement for how isolated scope is supposed to

[2015-02-04 10:26] davidsmith242 opened #59 "Some attributes does not working"
I'm trying to use your directive as part of a template within an another directive. Some of attributes gets ignored: switch-readonly, switch-label-width, switch-handle-width. Also the value of ng-true-value and ng-false-value are not working correctly. I added a watch for the ng-model value, but the replied value after toggle is always '' (empty string)

"angular": "~1.2.26",
"jquery": "~2.1.0",
"

[2015-02-04 10:27] frapontillo commented on #59
I need a demo on plnkr in order to help you.

[2015-02-04 12:39] davidsmith242 commented on #59
http://plnkr.co/edit/X2ESAJqwJ7TFNRCnlAhg
In the plunker switch-label-width, switch-handle-width are working fine, but switch-readonly doesn't.

[2015-02-04 12:49] frapontillo commented on #59
I'm pretty sure you did something wrong with your directive. `readonly` is a [well tested feature](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/test/spec/directives/bsSwitchSpec.js#L301-L302).

[2015-02-04 16:58] helenitvn commented on #43
Hi,
Did this issue fixed in v0.3.0. I still have the same problem...

[2015-02-04 17:00] frapontillo commented on #43
The issue was fixed in `0.4.0-alpha.1`.

[2015-02-11 15:55] Sheparzo opened #60 "Indeterminate first click always defaults to Yes / True"
Right now, the indeterminate state always goes to yes upon first click and must be clicked a second time to go to no.

The indeterminate state should be smart enough to switch to a yes or no upon first click depending on where the user clicks the switch.  The current indeterminate example on http://www.bootstrap-switch.org/examples.html is smart enough to work this way.

[2015-02-11 17:09] frapontillo commented on #60
Could you please provide a demo?

[2015-02-13 09:31] mitsos1os commented on #37
Hi! Very cool module!
I wanted to note that I also face the same issue but under this circumstances. I open a modal with the use of angular-ui directives and pass some variables by using the resolve property in the modal configuration object. If I bind this to switch, then yes it still requires a first toggle on and off to start affecting ng-model value. However if i bind the switch to a local var

[2015-02-13 10:00] mitsos1os opened #61 "First toggle do not change ngModel value (UPDATED)"
Hi, I have also commented on the previous similar iissue but since it was closed I do not know if it is monitored...
So there is a problem when multiple bs-switches exist...
I found out that the problem is when you try to bind ng-model to an existing property of an object inside an array. If it is **not  the first element of the array** and the property exists, it needs the first toggle cycle for

[2015-02-18 22:19] chrism-dp commented on #54
this worked for me also.

incidentally, versions 0.3.0-alpha.1 & 2 were both wrapped this way

[2015-02-27 11:32] mkaluzny commented on #61
+1

[2015-02-28 09:40] mitsos1os commented on #61
Yes you are right! It is resolved on latest version.

[2015-02-28 09:40] #61 closed

[2015-02-28 09:47] frapontillo commented on #60
I may be terribly wrong, but it seems to me that the demo version of the original `bootstrap-switch` behaves exactly as the angular directive. If I click on an indeterminate switch it always sets itself to `true`.

[2015-02-28 09:47] #60 closed

[2015-03-01 01:00] raygerrard commented on #37
Any chance we can get this fix pushed to bower?

[2015-03-03 07:57] piernik opened #62 "Working with 1 and 0"
Now Yor script work with true/false - can You make it to work with 1/0 as well?? I mean init state - if value=1 then value=true - now if value=1 it's off

[2015-03-03 08:23] frapontillo commented on #62
This is already possible with `0.4.0-alpha.1` if you rely on `ngTrueValue` and `ngFalseValue` directives.

[2015-03-03 08:23] #62 closed

[2015-03-05 19:20] frapontillo commented on #37
I am yet to solve more open issues since the rewrite in `0.4.0`. I will release it as soon as possible.

[2015-03-06 15:38] #59 closed

[2015-03-06 15:40] frapontillo commented on #54
No demo provided, please feel free to reopen it if you have a simple demo that demonstrates the issue.

[2015-03-06 15:40] #54 closed

[2015-03-06 16:50] #46 closed

[2015-03-06 16:50] frapontillo commented on #46
As of 210b5c0, the radio option is properly supported.
You need to:

* set the same `ng-model` and `name` attributes to all of the radios
* set different `ng-value` or `value` attributes to all of the radios

Example:

[code]

`$scope.result` will equal to `'one'` or `'two'`; if you also set the `switch-radio-off` attribute to `true`, unselecting a radio will cause `result` to become `undefined`.

[2015-03-12 16:59] piernik opened #63 "Boolean value error"
If you define `ng-true-value="1" ng-false-value="0"` (note there is only 0 not `'0'`) than You have to click twice for false value.

[2015-03-13 08:30] frapontillo commented on #63
Please add a plunker.
Thanks.

[2015-03-13 17:33] piernik commented on #63
Come on - just add `ng-true-value="1" ng-false-value="0"` to e of Your test code and You'll see what i mean

[2015-03-13 17:34] #63 closed

[2015-03-20 13:38] daw451-duplicate opened #64 "element.bootstrapSwitch undefined"
when i wire up and run with the angular version i get an error stating that the bootstrapSwitch is undefined.

i was trying to test to see if ng-true-value="0" and ng-false-value="1" work with this control. Seems to work with the jquery version but of course then i would need a directive to  talk with the model. Prefer to go this route.

aaron

[2015-03-20 13:40] frapontillo commented on #64
Check out all the scripts included in the [example](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/example/index.html) page. What's different? What's missing'

[2015-03-20 15:42] silintzir opened #65 "ngModel updates after 3 switches"
when the ngModel is initially true and the checkbox is "on", the first time i uncheck it the ngModel does not update but stays true. I have to recheck it and then re-uncheck it to update the ngModel.

[2015-03-20 15:44] #65 closed

[2015-03-23 21:12] treyhoover commented on #52
Has there been any progress on this? I'm facing the same issue.

[2015-03-23 21:22] frapontillo commented on #52
I haven't had any time to work on this, sadly. I will gladly accept PRs that do not make use of polling or any terrible hacky workaround.

[2015-03-23 22:44] treyhoover commented on #52
Actually, it seems to be fixed for me in v0.4.0-alpha.1.

[2015-03-28 20:27] amirgalor opened #66 "use IIFE to wrap 'use strict'"
putting 'use strict' globally forces the strict mode on entire application.

It's better to wrap in IIFE, adding 'use strict' in inner scope.

[2015-03-29 14:46] tenphi opened #67 "Doesn't show ON in disabled status"
In `disabled` mode switcher doesn't react on model changes and shows only OFF status.

[2015-03-29 16:12] #64 closed

[2015-03-29 16:18] frapontillo commented on #67
That is the expected behaviour of the original plugin; you can try it on the [examples page](http://www.bootstrap-switch.org/examples.html) by running the following code in the dev tools console (the disabled switch won't be toggled):

[code]

If you feel like you should be able to toggle a disabled switch please open an issue on the [original plugin's bug tracker](https://github.com/nostalgiaz/bo

[2015-03-29 16:18] #67 closed

[2015-03-29 16:22] frapontillo commented on #66
Fair enough.
For my future reference, [this](https://github.com/angular/angular.js/blob/master/src/angular.prefix) is how the Angular team does that.

[2015-03-29 16:24] amirgalor commented on #66
Yup - that's the even-better-version :)

[2015-03-30 11:12] tenphi commented on #67
Thanks for your answer. I should have tested that with the original plugin.

[2015-03-30 12:56] Drammy opened #68 "Binding issues"
Hi,

I've found that if I bind switch-active to a model and the model value is false then changing the model in the controller doesn't update the switch UI - its as if it stays in a disabled state even as far as to prevent binding from working and updating the switch state.

Because of this issue I tried binding to switch-readonly and have found that I cannot get it to bind to the same model value

[2015-03-30 16:21] frapontillo commented on #68
Please provide a live demo on Plunkr. Thanks.

[2015-03-30 16:22] Drammy commented on #68
OK, will try - nvere really done that before.

DO you have a plunkr handy that I can use as a base?

[2015-03-30 16:30] frapontillo commented on #68
You can start from here: http://plnkr.co/edit/SWy8YmrVi8IsTa4FuqSZ?p=preview

[2015-03-30 16:31] Drammy commented on #68
Thanks

[2015-03-30 16:42] Drammy commented on #68
The plunkr you provided demonstrates the issue already but to demonstrate it further I've added a checkbox bound to the same models...

http://plnkr.co/edit/MP9IvzmNvckFbLh9a8PY?p=preview

You can see that when active both the switch and the checkbox toggle back and forth correctly but when activation is toggled off you'll see the checkbox state update despite it being disabled but the switch stat

[2015-03-30 17:26] frapontillo commented on #68
This is a duplicate of #67

[2015-03-30 17:26] #68 closed

[2015-03-30 17:38] Drammy commented on #68
Oh, ok. Apologies for wasting your time then. I guess I'll need to look for another angular switch :-(

[2015-03-31 06:29] romant opened #69 "ng-init="checked=true" is ignored"
looks to always render `false` by default

current definition is:

[code]

[2015-03-31 08:16] frapontillo commented on #69
What is 'checked'? You are binding to selectionCriteria.mode, not to checked.

[2015-03-31 08:16] #69 closed

[2015-03-31 12:08] romant commented on #69
Hi @frapontillo - thanks for the prompt feedback.

Am looking to make the default of the checkbox / angular-bootstrap-switch to be `true` / checked.

If I understood the behaviour correctly, the `ng-init="checked=true"` is the equivalent of html's `checked` - yet this is being ignored it seems.

Hence the raising of the issue.

[2015-03-31 19:26] frapontillo commented on #69
No, `ng-init` is for calling some code when the view is compiled. With that code you're simply setting a `$scope.checked` variable to `true`, then you never use `$scope.checked` again.

[2015-03-31 22:20] andrewmtoy opened #70 "Dist files are missing property bindings 'switchInverse' and 'switchReadonly'"
The dist files are missing two property bindings: 'switchInverse' and 'switchReadonly'.
Perhaps the dist files aren't up to date?

Dist file bindings:
https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/dist/angular-bootstrap-switch.js#L153

Src directive bindings:
https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/src/directives/bsSwitch.js#L172

[2015-04-01 07:07] frapontillo commented on #70
Yes, those features were added after `0.4.0-alpha.1`, I am going to prepare an `alpha.2` release that will include both `switch-inverse` and `switch-readonly`.

[2015-04-01 12:52] frapontillo commented on #66
Fixed by 0bddd03d9fb62744f946daa9f5cd70003d9da30e

[2015-04-01 12:52] #66 closed

[2015-04-01 13:03] frapontillo commented on #70
Closed by a60c5688f3de5794cb4e40dfa4934f5efe50066c.

[2015-04-01 13:03] #70 closed

[2015-04-02 00:12] romant commented on #69
I see. My only goal is to have the checkbox set to true on page render. Equivalent behaviour of <input checked…/> . Yet with angular-boot-strap-switch am unable to see a way to do it. Any hints? Thank you.

[2015-04-02 06:13] frapontillo commented on #69
You have to set `selectionCriteria.mode` to `true` in your controller. `ngInit` [is to be used](https://docs.angularjs.org/api/ng/directive/ngInit) for initialization with `ngRepeat` only.

[2015-04-02 21:30] Drammy commented on #68
Just thinking this through a bit more...

I would expect this control to sync with the model correctly despite whether or not the jquery control does.  If this AngularJS control loses sync with the model then surely it goes against the AngularJS MVC pattern??

Is there an easy way to make the control sync correctly?

[2015-04-03 07:06] frapontillo commented on #68
I totally understand what you're saying and share your view on the subject. Unfortunately, changing the behaviour of the original plugin would mean go out of sync whit everything the library provides, and that's something I really don't want to do.

You can still open a bug on the original bug tracker and ask for the feature, I will :+1: it :)

[2015-04-03 07:28] romant commented on #69
Thanks for the details. Am new to Angular - so appreciate it the details.

What happens with the control though is this: if I have `ng-model` set in the view, upon toggle, the model gets updated. Namely set to true or false.

If on the other hand am setting the same model to a default action in the controller as you suggest, although the UI is affected on render; the model doesn't get updated on t

[2015-04-03 07:31] frapontillo commented on #69
I **really** need a live demo to help you with that.

[2015-04-03 09:44] Drammy commented on #68
Ah, OK I get you.  I'll raise a bug.

I was wondering in the meantime if there's a way to resync on enabling the control?   i.e. if I change the state from disabled tp enabled can the angular control resync at that point?

[2015-04-03 09:45] frapontillo commented on #68
I can try that, but there would be no point in doing so if your request is accepted ;)

Please link here the bug you're about to open so we can be updated.
Thanks!

[2015-04-03 09:52] Drammy commented on #68
Fair enough - here's the link..

https://github.com/nostalgiaz/bootstrap-switch/issues/442

[2015-04-04 04:43] romant commented on #69
Looks like an angular version issue.

Please see [here](https://github.com/romant/bootstrap-angular-bug)

Anything above the 1.2.x ends up in the above behaviour.

[2015-04-06 07:43] timcullen commented on #65
I have the same problem.  How did you fix it?

[2015-04-07 16:26] jessertaylor commented on #52
it happeneds to me using the non angular bootstrap switch - it's appears it is a bug in bootstrap switch tbh.

[2015-04-11 18:16] Kostronor opened #71 "Switch does not update AngularJS Model"
I have prepared a Plnkr for you: http://plnkr.co/edit/LeL3kgnO4fKYqOQW9HFk?p=preview

clicking the switch does not update ng-show/ng-hide

Is there a work around?

Regards

[2015-04-12 08:03] frapontillo commented on #71
Using the latest version of AngularJS (1.3.15) solves it.

[code]

[2015-04-12 08:03] #71 closed

[2015-04-12 08:41] Kostronor commented on #71
Thanks a lot! Working perfectly!

[2015-04-13 06:50] frapontillo commented on #69
@romant excellent, have you tried using `0.4.0-alpha.2`? Can you confirm me the solves the issue? If that is the case, I'll finally make a stable release.

[2015-04-13 07:11] romant commented on #69
confirmed

`angular-bootstrap-switch#0.4.0-alpha.2` works like a charm.

[2015-04-13 07:12] frapontillo commented on #69
:+1: appreciate it

[2015-04-13 09:09] forcewill commented on #53
Yes but im using it on a table like

[code]

for this use case ```$watch``` doesn't seem to fit in or should i use watch in this case ?
and if so how would i do it one per user ? Seems overhead.

[2015-04-13 10:43] frapontillo commented on #53
You should use `$watch`, `ng-click` is not the right approach to your problem.

[2015-04-17 13:59] nathanmarks opened #73 "Not properly honouring ngTrueValue"
When you have something like this:

[code]

It is not properly honoured due to this:
[code]

It changes your true value from `1` to `true`. It breaks the switch and actually changes the model to the ngFalseValue when the switch is initialized. The checkboxes work perfectly with the `bs-switch` directive removed.

[2015-04-25 04:12] hdramos opened #74 "Uncaught Error: [$injector:nomod] Module 'frapontillo.bootstrap-switch' is not available!"
I am very new to anguarjs. I am using the latest versions of all libraries involved. When load my page I get the following error:

Uncaught Error: [$injector:nomod] Module 'frapontillo.bootstrap-switch' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

I can get rid of this error b

[2015-04-25 05:50] frapontillo commented on #74
I think you referenced the file under `src`: don't do that, just inclulde what's in the `dist` folder only.

[2015-04-25 05:50] #74 closed

[2015-04-27 14:40] lizhong8532 opened #75 "ng-model attribute not working in tabset tag"
I in ui.bootstrap's tabset tag using angular-bootstrap-switch, like this:
```<input bs-switch ng-model="isSelected" type="checkbox" />```
But when toggle this switch then watch $scope.isSelected  no any change,
I try move the input tag to tabset tag outside then the swtch can working

Is this bug?

[2015-04-27 14:42] frapontillo commented on #52
@jessertaylor are you able to put up an issue on the `bootstrap-switch` repository?

[2015-04-27 14:43] jessertaylor commented on #52
@frapontillo will do

[2015-04-27 14:44] frapontillo commented on #75
Dupe #52

[2015-04-27 14:44] #75 closed

[2015-05-04 16:11] kubijo opened #76 "Indeterminate state not triggered"
When the ```ng-model``` bound variable is undefined, it is said that the switch should be in indeterminate state - that however does not work. Below is link to plunker.

http://plnkr.co/edit/1SaSvTIzOeyjqWCl4GLH?p=preview

[2015-05-04 16:14] frapontillo commented on #76
Acknowledged, thanks for reporting this!

[2015-05-15 07:28] kubijo commented on #76
Hi. Do you have some estimation for the fix?

[2015-05-15 08:03] frapontillo commented on #76
Sorry @kubijo, I have no idea when I'll be able to work on this. :(

[2015-05-15 08:05] kubijo commented on #76
I see. Well lets hope you'll get some time soonish. Thanks for reply.

[2015-06-03 14:11] mastermind1981 commented on #65
I have the same problem, is there any solution?

[2015-06-03 16:51] mastermind1981 commented on #65
Could you please re open the issue?

[2015-06-03 17:13] frapontillo commented on #65
@mastermind1981 I need a live demo at the very least, please open a new issue after reading the [CONTRIBUTING](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md) guidelines.

[2015-06-03 17:46] mastermind1981 commented on #65
ok, I updated to the new version and it seems working.

[2015-06-03 17:46] frapontillo commented on #65
Good to know :+1:

[2015-06-12 08:09] vanderlindenjc commented on #76
We are having the same issue, hope you can fix this soon.

[2015-06-13 09:32] frapontillo commented on #76
Sorry for keeping you wait guys, the change is now available in the `develop` branch (also with angular-1.4.0 support).

[2015-06-13 09:44] #73 closed

[2015-06-13 15:05] akocmark opened #77 "on/off callback function?"
how can i call a function on bootstrap-switch-change ? I know i can use ng-change, but how can I stop the switch if a certain condition fails? i tried returning false value but no luck. Thanks!

[2015-06-13 15:37] frapontillo commented on #77
Sorry, that's out of the scope of this module. You can set up a watcher on your model that reverts `newValue` back to `oldValue` if the validation doesn't meet your criteria. Alternatively, you may want to bind the switch to a checked model that is only changed by you when a second model is changed by the user.

[2015-06-13 15:37] #77 closed

[2015-06-14 06:46] akocmark commented on #77
If you try to set up watcher on the model that reverts newValue back to oldValue, you'll get an infinite digest loop, because the criteria always fails. I will try with the duplicated hidden checkbox tho. Thank you for the quick reply.

[2015-06-14 07:10] frapontillo commented on #77
You could even try another approach: since you know when the user can toggle the switch, you may want to deactivate it when a user toggle would make it enter in a "non valid" state.

[2015-06-15 08:27] piernik opened #78 "bower:~1.4.0 - better >=1.3.0"
Now I cannot update using angular 1.3
I suppose it's still compatibile with angular 1.3 so better use >=1.3.0

[2015-06-15 08:29] frapontillo commented on #78
You can still use angular-1.3.x, simply put it in your dependencies and/or resolutions.
Since angular-1.4 has breaking changes from 1.3 I can't test nor guarantee that angular-bootstrap-switch will work with 1.3.

[2015-06-15 08:33] piernik commented on #78
it works with 1.3 - ok,thanks

[2015-06-15 08:33] #78 closed

[2015-06-15 08:34] frapontillo commented on #78
@piernik it does, for now, but since I plan on adding new features it's best to specify what will and will not be supported. :smiley:

[2015-06-15 08:47] piernik commented on #78
super - I'll stick to 0.4.
Maybe You should introduce 0.5 if You plan breaking changes?

[2015-06-15 08:48] frapontillo commented on #78
If I plan any breaking changes on the switch API yes, sure.

[2015-06-20 11:27] melino commented on #74
I trapped into that, too.
The example uses ../src/directives/bsSwitch.js, which is confusing, I think.

[2015-06-20 11:34] frapontillo commented on #74
@melino the example references the common file as well. Also, the example is to visually test stuff while developing.

[2015-06-20 11:37] melino commented on #74
Makes sense. :-)

[2015-06-24 06:41] Jurigag opened #79 "Slow when using with ng-repeat ?"
When there are many switches rendered in ng-repeat it slows down really hard a page like - 2 seconds for 30-40 switches.

[2015-06-24 06:42] frapontillo commented on #79
Please read [**how to report issues**](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md#-report-an-issue).

[2015-06-24 06:49] Jurigag commented on #79
Live demo: http://plnkr.co/edit/NTQEx0gixo0gKIjWXWFn?p=preview
Version: 0.4.1

[2015-06-25 23:54] markalanevans opened #80 "When a user clicks the switch an event or method should be able to be called."
# Question
How can we bind an event to a toggle?

# Story
As a developer I should be able to trigger a method call when a switch is clicked.

[2015-06-26 01:12] markalanevans opened #81 "Respect boolean values?"
If my model values is   true or false, do i need to set some other setting to make the ui to be in the enabled / disabled state?

[2015-06-26 05:55] frapontillo commented on #81
You should be able to do so out of the box. If it doesn't work, please open a plnkr showing the issue, thanks!

[2015-06-26 05:58] frapontillo commented on #80
...or you could set up a watcher on your model :)
BTW, this is not the first time this request has popped up, I'm leaving this thread open for a while to see what kind of support this one has.

[2015-06-26 19:20] markalanevans commented on #80
sure. basically you just need to pass through the ngClick functionality.

[2015-06-30 19:53] RatkoR commented on #80
Yup, event like this would be a big bonus. At least for me.

[2015-06-30 23:22] BrOrlandi commented on #80
I've made an implementation of that functionality.
You can see in my commit: https://github.com/BrOrlandi/angular-bootstrap-switch/commit/d50589021c22295f267763240d789f9b33420683

The Angular watch doesn't work well in Angular 1.2, this implementation makes it more suitable with Angular 1.2.

Some tests are not passing. I don't have checked it, made this implementation just to show how it can work

[2015-07-06 14:27] konczak commented on #80
Hi, I would like to see it in place.
I'm struggling with dynamic list of objects where every one of them can toggle.
It is mandatory on click to switch state also in backend (I need to call REST API to do that).
Callback function would be a good solution for my case as long as I will be able to identify which object should change.

[2015-07-06 15:59] BrOrlandi commented on #80
Hi @konczak my case is exactly the same as yours. The switch callback I've made receives the DOM element of the switch, so I've set an custom attribute with the id of the element I want to update via REST API. On the callback function I get this element attribute and do the REST request.

[2015-07-07 06:02] frapontillo commented on #80
Could you please explain why you can't set up a watcher on the model bound to the switch? It's something I may have already asked before, but since we're trying to understand the issue here...
Thanks!

[2015-07-07 07:27] RatkoR commented on #80
In my case, model's binded property can change because user flipped
switch to on/off and it can also change in controller because of some
other events.

If I add a watch, It'll catch both changes: switch changes and changes
done in javascript. Which is not ok, since I need to process only change
done by switch.

Thanks,
Ratko

Dne 07. 07. 2015 ob 08:02 je Francesco Pontillo zapisal(a):

[2015-07-07 11:20] BrOrlandi commented on #80
Hi @frapontillo I can't use watchers because I'm using Angular 1.2 and they don't work very well at this version. On Angular 1.3 they work OK.
Also, a callback should be better than have a watch inside a loop through a list.

[2015-07-07 12:37] konczak commented on #80
Hi @frapontillo for me is the same case as @BrOrlandi that temporary I'm stuck with Angular 1.2 without possibility to upgrade.

Also I prefer solution with callbacks then watches because personally I think that code gets messy with watches while with callback it is much more clear when it will be executed - callback gives better control over execution.

How about performance case? I think it is g

[2015-07-07 12:40] frapontillo commented on #80
What kind of arguments do you want your callback to have? The model the switch is bound to?

[2015-07-07 12:47] konczak commented on #80
That's very good question. I'm worried that only model is insufficient. I need identify which object has changed state.
In my case I have list of Features where every single Feature has ID, name, enabled and other fields.
Field enabled is my flag used in switch as model.
I need at least ID which I will use while sending request to backend.
Probably most useful would be to have hole Feature object

[2015-07-07 16:03] BrOrlandi commented on #80
@frapontillo you can see my implementation https://github.com/BrOrlandi/angular-bootstrap-switch/commit/d50589021c22295f267763240d789f9b33420683
The Bootstrap Switch in jQuery has a callback, I've just used the same arguments.
They are: the DOM element, the event and the new state of the switch.
As I explained to @konczak I've used an custom attribute in the element to get the ID of the object tha

[2015-07-07 16:08] frapontillo commented on #80
@BrOrlandi I am not going to expose the DOM to the controller, that's something non-Angular-ly.

What I can do, though, is eval some specific code in a `switch-click` event, such as:

[code]

This way, `hasBeenClicked` will be any method you wish and `myElement` any object in the current `$scope` (it can be an element iterated with `ng-repeat`, for example).

[2015-07-07 16:09] #81 closed

[2015-07-07 16:10] frapontillo commented on #79
It's not slow in my case... Can you tell me how you think the directive can be made lighter/faster?

[2015-07-07 23:40] BrOrlandi commented on #80
I'm not a expert in Angular, so I don't know the best practices.
The solution you've proposed it's good and should be enough.
But I suggest the nmae `switch-change` than `switch-click` to be suitable to the jQuery plugin.
Thanks.

[2015-07-08 07:13] konczak commented on #80
I really like @frapontillo solution with customizable function and list of parameters - that will fix my issues greatly.
@BrOrlandi if it has to be switch-change let it be - it has good mapping with jQuery. For Angular compliance switch-click probably would be better but we can't have both.

I have one more question - when this function will be called? After change ng-model value?
I'm considering

[2015-07-08 07:26] frapontillo commented on #80
I think it should really be a callback and nothing else, that kind of stuff should be handled with validation modules and techniques.

[2015-07-09 20:35] SeanEire commented on #80
I'm looking for this exact feature too! @frapontillo your customizable function solution would be ideal.

[2015-08-16 10:15] alexilyaev opened #82 "Add commonjs package manager support"
Can we add support for loading the bsSwitch as a CommonJS module?

See example of Angular UI-Router:
https://github.com/angular-ui/ui-router/blob/master/release/angular-ui-router.js

This will allow doing:

[code]

Instead of hard coding the module name.

[2015-08-16 10:19] alexilyaev opened #83 "Add support for passing an options object"
Let's say I have 10 switches, passing the same options as 10 attributes for each switch seems kinda redundant.

Can we add an attribute to pass the options object (e.g. `bs-switch-options`)?

[2015-08-16 18:22] frapontillo commented on #82
Sure, adding it in https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/common/module.js should be pretty straightforward.

[2015-08-16 22:36] frapontillo commented on #83
Not a fan of the "options" approach. You might consider extending the directive with your own, which will then replace the container element with the proper bindings set on `bs-switch`.

[2015-08-17 18:35] bhushanvaidya3 opened #84 "need to change ng-model when control is disabled"
I have a scenario where I want to programatically change ng-model value on the fly even if the control is disabled. Right now as per my usage, the control only allows changes to ng-model if the control itself is active. Please do let me know if I can achieve this in any way.

Thanks!

[2015-08-17 20:20] frapontillo commented on #84
Dupe of #67.

[2015-08-17 20:20] #84 closed

[2015-08-17 20:24] bhushanvaidya3 commented on #84
my bad @frapontillo . Will check the original control's posts for the same. Thanks for the update!

[2015-08-17 20:25] frapontillo commented on #84
No worries, if you open an issue there please make sure you tag me so I can :+1: it as well, it'd be a useful feature.

[2015-08-18 08:00] alexilyaev commented on #83
Just saying, looks like a lot of repeating code, plus, makes it hard to add settings in JS, since you'd have to add an attribute to each element, whereas if the elements bind to an options object, you have more control.

Example code:
[code]

[2015-08-18 08:04] alexilyaev commented on #83
Plus it's a common practice, so it's easier to flip one Switch component with another in the future without too much adaptor work.
http://demos.telerik.com/kendo-ui/switch/index

[2015-08-18 08:49] frapontillo commented on #83
They are two completely different approaches. AngularJS directives are attribute-driven: I can definitely see a use case for an options object, but it'd have to work as a "custom default", not replacing the attributes.

Again, you could simply write a directive that gets replaced by `bs-switch` with your custom options logic.

[2015-08-19 19:01] abullrich91 opened #86 "Performance issue with bigger handle-width and label-width"
Hello everyone,

First of all I'd like to say that I really like the work done with this directive and it works quite out of the box. However there is one minor nuisance that has me a bit concerned, and it involves the performance of the directive with bigger handle-width or label-width. Once these two attributes are set to something higher than let's say 20px, then the whole page starts strutteri

[2015-08-19 21:24] frapontillo commented on #86
Hmm, I really can't see any difference, the switch doesn't lag to me. Could you please tell me your configuration/machine/browser? I need to understand if it's a problem related to the AngularJS binding or to the original plugin.

Thanks!

[2015-08-20 03:42] abullrich91 commented on #86
Hi there, I'd like to report that I ran the plnkr at home (first try was at work), and the problem didn't seem to reproduce. Just to set some context, at work I have an Ubuntu machine (14.04), and ran the plnkr on Google Chrome (v. 44.0.2403.155 m). At home I have Windows 7 OS and the same Google Chrome configuration.

My home PC is far more powerful than my office machine. So for the time being,

[2015-08-20 07:49] frapontillo commented on #86
You might want to try and make a plunker with the original bootstrap-switch to see if the problem can be attributed to the plugin.

[2015-08-20 13:35] abullrich91 commented on #86
Hi, reporting back after a night worth of sleep and back at work. I've tested the plnkr on 3 different machines (other than my own), 2 linux and 1 windows 7. On all three cases it worked flawlessly.

I downloaded Firefox at my work station and ran the plnkr once again. The memory leak didn't happen. So here is my conclusion: The directive was not responsible for the performance issue, but rather a

[2015-08-20 13:42] frapontillo commented on #86
Excellent, thank you for thoroughly reporting the ~~issue~~ thing. :+1:

[2015-08-20 13:42] #86 closed

[2015-08-21 12:30] mirow commented on #76
There is still the problem that the switch does not aways come out of the indeterminate state when you click on it. You can see this in the same plunker:
http://plnkr.co/edit/1SaSvTIzOeyjqWCl4GLH?p=preview
To reproduce: set switch to 'ON', then click on "Toggle undefined", then click on the switch. The switch is now in the 'OFF' state, but the model value wasn't updated, it's still undefined.

[2015-08-21 12:58] frapontillo commented on #76
@mirow you're right, I am going to reopen this.

[2015-08-26 11:53] mirow commented on #76
I think you need to set the state to null when the state is indeterminate (as explained here: https://github.com/nostalgiaz/bootstrap-switch/issues/426 )

Maybe you could always set the state to null in the bootstrapSwitch constructor, and update the state in scope.$watch?

Also, currently you only check if the model value matches the true value, you don't check whether it matches the false value.

[2015-08-28 14:28] zaewonyx commented on #80
Hello @frapontillo, I'm interested too by this callback function support. Could you give a date for a possible release ?

[2015-08-28 14:31] frapontillo commented on #80
@zaewonyx I honestly don't know when I'm going to have some time to allocate for this... Probably mid-to-end October. Yes, I really wrote October, unfortunately :disappointed:.

I would gladly accept well-written and well-tested PRs, though.

[2015-08-28 14:43] naokha opened #87 "Error : d.bootstrapSwitch is not a function"
I'm trying to use your nice library, but I get this error in the web console :
'd.bootstrapSwitch is not a function'
AngularJS 1.3.16, bootstrap 3.3.5, bootstrap-switch, bootstrap-angular-switch, jquery 1.11.3 are included in my project and loaded (I took care of checking it in the web console).
Any idea ?

Thanks.

[2015-08-28 14:54] frapontillo commented on #87
Please [read this first](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md#-report-an-issue).

[2015-08-28 15:12] zaewonyx commented on #80
Thank you for your fast response. I'll handle that with an ng-change for now and maybe I'll do a PR (I'm not sure of the well-written and well-tested part :blush:)

[2015-08-28 15:28] naokha commented on #87
I could not reproduce a live demo.
It's finally working with tag version 0.4.0.
Issue is closed.

[2015-08-28 15:28] #87 closed

[2015-09-03 06:16] frankvictor commented on #64
I encountered the same problem and finally found out why:
the js file include order matters:
[code]
jquery.min.js must be included before angular.min.js.

Reason:

- http://www.sitepoint.com/practical-guide-angularjs-directives/

[2015-09-03 06:18] frankvictor commented on #87
Seems the same reason with #64 , could try it.

[2015-09-09 21:12] Andsbf commented on #87
I'm facing the same problem, I'm using the minified file in my angular project, that is the front end of my rails app.

[2015-09-10 16:05] settysreekanth opened #88 "could you please provide this library on cdns like jsdelivr?"

[2015-09-10 16:10] frapontillo commented on #88
Sorry, not going to do that. I have never heard of jsdelivr. You could use [RawGit](https://rawgit.com/), it requires no configuration on my end.

[2015-09-10 16:10] #88 closed

[2015-09-25 12:53] alexilyaev commented on #83
How about an extra attribute that allows that functionality but still leaving the others as is?

[2015-09-26 14:42] ri0t commented on #80
I would love that functionality, too. I could possibly try with watchers, but my current use case involves ng-repeat with 150+ switches, so i'm a bit worried about performance impacts.. ..the app needs to conserve battery as much as possible.

[2015-09-29 13:43] arseneoaa commented on #87
Hello,

I had the same issue when I did not add all js files: angular-bootstrap-swith.js (directive) + bootstrap-switch.js (in its dependencies). Loading this last one solved it for me.

Just check the example and make sure to add all needed files.

[2015-10-01 18:48] MtDalPizzol commented on #80
Well, I think that what the great majority of the developers need to do, while using this directive, is to get the scope's object bound to the element.

Also, I don't think setting up watchers will do the trick, because in some cases, you need to use the directive inside a ng-repeat...

So, the solution for me was this:

**angular-bootstrap-switch.js**
[code]

**controller.js**
[code]
**index.html

[2015-10-02 18:54] bobmulder commented on #73
Why is this not merged? ng-true-value isn't working for me :$

[2015-10-02 21:46] frapontillo commented on #73
It was merged into a release. If it's not working for you, please open a new issue with a live demo of what's going on.

Thank you.

[2015-10-03 13:17] cyrixmorten commented on #20
Just got back to this issue and indeed I missed the syntax as @ben-barbier pointed out:

For exampe:

    <input bs-switch  type="checkbox"  switch-active="{{editMode}}" ng-model="crudObject.receiveReports" switch-on-text="{{'YES' | translate}}" switch-off-text="{{'NO' | translate}}" />

Works just fine :+1:

[2015-10-05 09:10] konczak commented on #80
Is there any chance that will be a part of this awesome directive?

[2015-10-08 14:40] flipjs commented on #87
Im getting the same error when code is minified. Im using ng-poly generator and it uses gulp-uglify. Any work-around on this? Thanks.

[2015-10-27 18:32] jakerobers commented on #80
Is there an ETA for this? I noticed @frapontillo mentioned something about end of October? I would also like this feature.

[2015-11-08 15:07] odedfos opened #90 "Documentation: Explicitly include bootstrap-switch js & css when not using bower"
For those who don't use bower for package management it is worth mentioning in the installation notes that the angular-bootstrap-switch module depends on the bootstrap-switch module but does NOT contain it.
If embedding the files from the dist folder, you must include also the bootstrap-switch module files as well for it to work.

You may find them here:
https://github.com/nostalgiaz/bootstrap-swi

[2015-11-08 15:10] odedfos commented on #87
In my case I was getting the error because I embedded the module manually (not using bower) but did not embed the bootstrap-switch module as well.
See issue #90

[2015-11-08 20:28] frapontillo commented on #90
Of course it doesn't include it, it is very clear in the docs already that "This will install AngularJS, jQuery, and the original bootstrap-switch." (see [here](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/README.md#installation)).

[2015-11-08 20:28] #90 closed

[2015-11-11 18:03] bahtou opened #91 "element.bootstrapSwitch is not a function"
I have in the HTML

`<input bs-switch ng-model="isSelected">`

and when I run it I keep getting this error

[code]
How do I make this work?  Am I doing something wrong?
Thanks

[2015-11-11 19:45] frapontillo commented on #91
Dupe https://github.com/frapontillo/angular-bootstrap-switch/issues/87

[2015-11-11 19:45] #91 closed

[2015-11-21 15:25] ZhukV opened #92 "Not working with UI Bootstrap Modal."
Hi, i try use a switch in UI Bootstrap Modal, but the property after switching not changed.

[code]

And controller (part):

[code]

Thank.

[2015-11-21 15:57] frapontillo commented on #92
Can you please set up a live demo?

[2015-11-25 12:51] easchimidt opened #93 "How to disable indeterminate state?"
Hello frapontillo,

First of all, thanks for this bootstrap switch that works with angular :)

I'm using it on a project, and I'm setting bg-switch like this:

`<input bs-switch type="checkbox"  switch-on-text="Sim" switch-off-text="Não" ng-model="acordoCheck">`

But the toggle inits in indeterminate state like the image below:

![image](https://cloud.githubusercontent.com/assets/16016802/11397589

[2015-11-25 13:00] easchimidt commented on #93
Ow, forget to say... I've tried to use bootstrap options, like `data-state="false"`, but didn't work either.

[2015-11-25 13:12] easchimidt commented on #93
frapontillo,

Just figured out my problem looking at your module code.

Tried setting the ngModel 'acordoCheck' to false in my controller and it worked perfectly.

Maybe it help anybody in the future.

Thanks :)

[2015-11-25 13:44] frapontillo commented on #93
Yes, when the model is not `true` or `false`, it will assume it means "indeterminate".

[2015-11-25 13:44] #93 closed

[2015-11-27 20:15] AmitMY opened #94 "Trinary values"
When the switch is initiallized, it has value of '' and is in the middle (not true nor false)
Is there a way that after you change it to get it back to the initiallized state?

(I created a boolian filter for a table, which if empty: shows all, if "a" shows all a, and if "b" shows all "b", and I want that after a change I could get it back to empty, so ill see the entire table again)

Edit:
bootst

[2015-11-27 21:59] frapontillo commented on #94
You can set the switch model to `undefined`, that will make the switch transition back to an indefinite state.

[2015-11-27 21:59] #94 closed

[2015-12-02 01:53] josuesamano commented on #24
Don't show correctly in chrome this control

![angswitch](https://cloud.githubusercontent.com/assets/5949714/11520061/2bba742a-9865-11e5-8416-2ca749497b3f.PNG)

[2015-12-02 08:03] frapontillo commented on #24
@josuesamano please open a separate issue following the [contributing guidelines](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md). Thanks.

[2015-12-02 15:30] josuesamano opened #95 "It is not displayed correctly in Chrome"
![angswitch](https://cloud.githubusercontent.com/assets/5949714/11534956/33ac9dda-98d7-11e5-9048-67aa20745138.PNG)

IE is right
Edge is right
FireFox is right
Only in Chrome isn't right

<code>
< input
    bs-switch
    ng-model="isSelected"
    type="checkbox"
    switch-on-text="Yes"
    switch-off-text="No"
    switch-animate="true"
    switch-label="My label is here" /></code>

[2015-12-02 15:35] frapontillo commented on #95
There is no live demo.

[2015-12-02 15:53] josuesamano commented on #95
I do not understand

[2015-12-02 15:57] frapontillo commented on #95
As stated in the [contributing guide](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md):

I am not able to help you without taking a look at the issue in an isolated demo.

[2015-12-04 17:16] tanzaho commented on #80
Questions to those who previously posted: in the meantime, what is the solution are you using ? I'm also using a ng-repeat with many elements in it.

[2015-12-04 17:17] adrienbrunet commented on #80
:+1:

[2015-12-04 17:19] MtDalPizzol commented on #80
Hi @tanzaho , I'm still using the solution I posted above. I know it could be better, but it does the trick in a simple way and the team here at my company haven't ran into problems with that...

[2015-12-16 09:30] nvdh commented on #87
For me this was the same as https://github.com/frapontillo/angular-bootstrap-switch/issues/64, loading jquery before angular solved this.

[2015-12-25 03:43] lizhong8532 commented on #91
Me too this bug

[2015-12-30 13:21] MobileDevVT opened #96 "When in Read Only mode cannot change switch state from the code"
Hi,
I want to make the switch read only (so that user cannot change its value). But I get the value of the switch as a result of HTTP request. In my HTML file I used

<input bs-switch type="checkbox"
  switch-readonly="true"
  switch-size="small"
  switch-on-text="YES"
  switch-off-text="NO"
  switch-on-color="success"
  switch-off-color="danger"
  ng-true-value="'true'"
  ng-false-value="'false'"

[2015-12-31 09:15] frapontillo commented on #96
Please read [this](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md) first.

[2015-12-31 12:12] MobileDevVT commented on #96
Hi,
Here is my plunk
http://plnkr.co/edit/wjHBiOAVcKrQer8K3roC?p=preview

When I define the HTML file I am not aware will the switch value be true or false. I have to ask the server to get the value. At the same time I want the page to be read only (I only want to show the user the values, I don't want to allow user to edit them).

1) Please take a look at my Plunk under 1). All the switches are u

[2016-01-07 17:58] icholy commented on #80
I think the existence of the built in `ngChange` directive suggests that this is valid use case.

[2016-01-08 04:51] Cdvalencia commented on #53
Hola!

Aquí está la solución: http://stackoverflow.com/questions/13077320/angularjs-trigger-when-radio-button-is-selected

[2016-01-19 19:21] DavidVaini opened #98 "Bootstrap Dependency"
When installing with bower, it requires the dependency of bootstrap#4.0.0-alpha.2

The current project I am using is running bootstrap-sass-official 3.3.4

We cannot update the bootstrap version without major breaking changes.

Anyway to get this to work with that version of bootstrap?

[2016-01-19 20:18] frapontillo commented on #98
You can specify the version of bootstrap in your own `bower.json` and it will get picked up.

[2016-01-19 20:18] #98 closed

[2016-01-26 11:48] ArthurPBressan commented on #80
@frapontillo, please consider merging @icholy's  change. Using watchers to watch over changes isn't reasonable, mostly because of performance reasons.

[2016-01-26 12:03] ArthurPBressan commented on #80
:+1: for @MtDalPizzol's solution.

[2016-01-27 02:13] MtDalPizzol commented on #80
Hey everyone... Seems like a bunch of people are getting around the problem with the suggestion I made. I don't know if someone has made a PR or something, but if @frapontillo thinks it is valid, I can make one... What do you think?

[2016-01-28 08:09] frapontillo commented on #80
Everyone: sorry for not addressing this issue for a long time, it's been kind of a busy time.

@MtDalPizzol there is already PR #97 that should address this, could you (and everyone else) please verify it matches your expectations?

Thank you for your patience.

[2016-01-29 11:40] frapontillo commented on #80
#97 is now live in develop, could you try it out and see if it works as expected?

[2016-01-29 14:00] tanzaho commented on #80
@frapontillo Thanks for the work on that issue. However, the script doesn't seem to fire as @ArthurPBressan said in #97.

[2016-01-29 14:27] ArthurPBressan commented on #80
I tried to get a plunker working, but I couldn't get it to work and I'm not sure what I'm missing. [Here it is, anyway](https://plnkr.co/edit/LUNvxWGjbpg3tFnMC80N?p=preview). This plunker is using icholy's code.

@MtDalPizzol, can you get a fork up with your changes, please? It's probably going to make the eventual plunker easier to set up.

[2016-01-29 17:01] icholy commented on #80
#99 fixes this issue. Here's a plunker with the latest version https://plnkr.co/edit/YUpJ8X2ZXN6XRTPkI7Ay?p=preview

[2016-01-29 17:20] frapontillo commented on #80
@tanzaho @ArthurPBressan could you please check if #99 fixes it for good?

[2016-01-29 17:26] ArthurPBressan commented on #80
Worked for me. :+1:

Thanks a lot!

[2016-01-29 17:26] tanzaho commented on #80
@frapontillo @icholy @ArthurPBressan By using the script provided in the Plunkr, it seems to work as expect on my project.

I can also confirm that switch-change can take parameters.

[2016-01-31 08:58] frapontillo commented on #80
4c5fcc1 should now have the requested feature. Once again, could you please check if it is properly working?
Cheers @icholy for implementing this.

[2016-01-31 10:08] tanzaho commented on #80
@frapontillo : I confirm that it works on my local project. :+1:

[2016-02-01 13:40] ArthurPBressan commented on #80
Is the dist folder updated with this change?

[2016-02-01 13:58] frapontillo commented on #80
Not just yet, as soon as I get the greenlight from the most of you I'll cut a release.

[2016-02-03 17:40] icholy commented on #80
ping ^ @markalanevans @RatkoR @BrOrlandi @konczak @SeanEire @zaewonyx @ri0t @jakerobers

[2016-02-03 19:19] ArthurPBressan opened #100 "Accept null as a valid value for the indeterminate state"
If you set the model value to `undefined`, as stated in the documentation, the switch should be set to the indeterminate state. This makes sense and it is working.

In my use case, however, this is pretty limiting to work with. Seeing how my data always comes from a JSON source (either prerendered by the server before AngularJS loads or via services), changing `nulls` to `undefined` is just a lot

[2016-02-07 20:43] prestonvanloon opened #102 "Configurable indeterminable state"
When using this switch as a binary ON/OFF, allowing the switch to be inbetween the two values is not valid.

There should be an option to forbid any indeterminate state and the switch should flip anytime it is clicked anywhere.

[2016-02-07 20:50] prestonvanloon commented on #102
Looks like this only applies to `radio` buttons and using a checkbox solves my problem. Thanks

[2016-02-07 20:50] #102 closed

[2016-02-09 21:50] icholy commented on #80
@frapontillo no news if good news? Please update dist files.

[2016-02-10 10:14] konczak commented on #80
Hi,
I confirm that on my local project this solution works for me as expected.

PS. Sorry for late answer.

[2016-02-11 17:25] zaewonyx commented on #80
Hi, it works as expected for me too.

Thanks ! And sorry for not replying

[2016-02-22 17:54] ArthurPBressan commented on #100
@frapontillo, thoughts?

[2016-02-25 17:19] torre9 commented on #96
Hi There,

I am also expericing the exact behavior that @MobileDevVT is describing. I want to show a page where a user can see some details but cannot modify them. But when I try to use either `switch-readonly=true` or  `switch-active=false` (which gets set by the server and not hardcoded directly, because I also need to wait for the server to give me a response), the switch shows in a indertemina

[2016-02-26 08:22] frapontillo commented on #100
See #101

[2016-03-01 09:57] leewisestamp commented on #52
Any update on this?

[2016-03-01 10:02] frapontillo commented on #52
@leewisestamp the [parent bug](https://github.com/nostalgiaz/bootstrap-switch/issues/448) hasn't been fixed yet.

[2016-03-01 10:12] leewisestamp opened #105 "Create a standalone working example"
I was hoping that the example folder would work "out of the box" upon downloading it. It appears there are Bower and/or NPM dependencies and I don't use either of those frameworks. Would it be possible to create a "standalone" example for those of us still in the dark ages? Thanks!

[2016-03-01 17:27] frapontillo commented on #100
Yeah, I have added that I'll add this in the next major release.

[2016-03-04 00:37] jjmontesl commented on #80
Found this thread while facing the same issue. Downloaded the development branch and it's working fine in my case. The name `switch-change` may be confusing perhaps, since it does not trigger on model change (as expected). I'd favour `switch-click` or `switch-interaction`. Thanks for this!

[2016-03-09 07:48] frapontillo commented on #105
There is [this plunker](http://plnkr.co/edit/SWy8YmrVi8IsTa4FuqSZ?p=preview) mentioned in CONTRIBUTING.

[2016-03-09 07:48] #105 closed

[2016-03-10 12:37] frapontillo commented on #80
Released in 0.5.0 (dffb8ba9e7d2da1ef7c8d8b5b76063923b983188).

[2016-03-10 12:37] #80 closed

[2016-03-10 12:38] frapontillo commented on #76
Can you try it with 0.5.0?

[2016-03-10 12:39] frapontillo commented on #79
Closed due to inactivity.

[2016-03-10 12:39] #79 closed

[2016-03-10 12:39] frapontillo commented on #95
Closed due to inactivity.

[2016-03-10 12:39] #95 closed

[2016-03-10 12:41] frapontillo commented on #92
Closed due to inactivity.

[2016-03-10 12:41] #92 closed

[2016-03-10 12:42] frapontillo commented on #83
I am open to accepting a PR that introduces a `switch-defaults` attribute.

[2016-03-10 22:34] #83 closed

[2016-03-16 18:16] adestis-ds commented on #76
In version 0.5.0 the switch is always in the state indeterminate - regardless of the model value!

[2016-03-16 18:37] adestis-ds commented on #96
Same problem here - also tested with version 0.5.0!

[2016-03-16 20:59] frapontillo commented on #76
@adestis-ds that's impossible, all tests pass and you can see that the behavior is correct at the demo in the first post.

[2016-03-18 20:42] Sheparzo commented on #96
I have this issue too

[2016-03-23 03:38] yuanjingxp opened #106 "switch-on-text size bug of show not-english text"
![qq 20160323113225](https://cloud.githubusercontent.com/assets/13447106/13974936/5b360082-f0eb-11e5-8e97-ad7c3c22380e.png)

[2016-03-23 08:10] frapontillo commented on #106
What's the issue here?

[2016-03-29 09:47] shun3475 commented on #96
+1

[2016-03-29 10:11] frapontillo commented on #96
I have just had some time to check this issue.

Wrt the first problem, `switch-active` mirrors the `disabled` attribute `bootstrap-switch`, while `switch-readonly` mirrors `readonly`. If you check the [Examples page](http://www.bootstrap-switch.org/examples.html) on the plugin site, you can verify that the original plugin doesn't allow the wanted behavior:

[code]

If you need this, please open a

[2016-03-29 10:11] #96 closed

[2016-03-29 10:15] frapontillo commented on #76
Closing due to inactivity.

[2016-03-29 10:16] #106 closed

[2016-03-31 15:20] martinschuberts opened #107 "no ng-change fired when change from undefined/null to false"
is there a chance to fire the ng-change when changing from undefined or null to false?
see here - changing for undefind to false will not show a console msg.
http://plnkr.co/edit/4lKEH5eE4kQRGQt9GEKy?p=info

used version 0.5.0 master

[2016-03-31 15:30] frapontillo commented on #107
I think this can be included in the `switch-change` behavior if @icholy would like to take care of it :grin:.
We could add some checks at https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/src/directives/bsSwitch.js#L180.

[2016-03-31 16:22] icholy commented on #107
I'll check it out

[2016-03-31 16:46] icholy opened #108 "Can't run tests"
I just cloned and am trying to run the tests and every single one is failing.

[2016-03-31 16:50] icholy commented on #108
The output is too big to paste here: https://gist.github.com/icholy/412e21fe092de212eb708b1e839f9ae0

[2016-03-31 16:51] icholy commented on #108
This looks related https://github.com/angular/angular.js/issues/13794

[2016-03-31 16:55] icholy commented on #108
It was an old version of phantomjs.

[2016-03-31 16:55] #108 closed

[2016-03-31 19:59] icholy commented on #107
I'm thinking this is actually an issue with the way bootstrap switch works.

[2016-03-31 20:04] icholy commented on #107
Here's the related issue: https://github.com/nostalgiaz/bootstrap-switch/issues/541

[2016-03-31 21:09] martinschuberts commented on #107
there is also this pull request - having the same problem: [nostalgiaz/bootstrap-switch/pull/449](https://github.com/nostalgiaz/bootstrap-switch/pull/449)
Do I understand right that this has never made it's way to the release? Why not - any idea how to trigger them?
(I tried this and it works for me)

@frapontillo and @icholy what do you recommend me - I am quite new in this world...

[2016-04-01 13:22] icholy commented on #107
@martinschuberts looks like the project isn't really maintained anymore. I'm still looking into it.

[2016-04-01 17:56] icholy commented on #107
Ok, I got it. The `ngModelController.$formatters` and `ngModelController.$parsers` are messing with the values. so its not property detecting changes between `false` and `undefined`

[2016-04-04 17:00] icholy commented on #107
I'm an idiot, I didn't realize you were trying to use `ngChange` instead of `switchChange`. Anyway, I've updated my PR to fix both issues.

[2016-04-25 08:33] skapin commented on #76
Still buggy. When state is ON, then set model to NULL, then click the swiotch, the model is empty but visual state display OFF.

[2016-05-04 11:08] shashankkrjain commented on #90
"Of course" is relative. It is not obvious for everyone and this is not clear from documentation as you say. Including one line in documentation is no harming the project, it's only helping users.

[2016-05-04 11:14] frapontillo commented on #90
@shashankkrjain sorry it wasn't obvious to you.

It is clearly stated in `bower.json` that the main library is a dependency, and should therefore be included manually if you don't use any package manager.

If you don't understand what `bower.json` is for (and you should) then you can maybe check the `example` directory, which clearly includes the `bootstrap-switch` library separately.

[2016-05-04 11:16] shashankkrjain commented on #90
so, you read `bower.json` of every library you are going to use?

[2016-05-04 11:17] frapontillo commented on #90
No, since I use bower and it solves all of these issues by itself.
Do you think the documentation should also tell you to include jQuery or how to add scripts tag as well?

[2016-05-04 11:22] shashankkrjain commented on #90
If not then you should not say "it is clearly stated in bower.json".

[2016-05-04 11:24] frapontillo commented on #90
If you DON'T use bower you should at least try to understand how something works if you're not sure on how to use it.

Process:
1) idk how to use something
2) it's open source, so I'll browse it
3) oh, a `bower.json`, what's that for?
4) nice, I didn't know that
5) since I've learned something, let me open a pull request to update the documentation instead of complaining about it

[2016-05-04 11:26] shashankkrjain commented on #90
I **never** said I do no use bower, btw.

[2016-05-16 14:13] #107 closed

[2016-05-19 18:19] Deklin commented on #53
I would say there is a different issue here

switch-change is firing on anyone changing the model object. I would expect switch-change to fire if IT changed the model object. Having that, then no need for ng-click.

[2016-05-19 18:20] Deklin opened #110 "switch-change should only fire if the switch itself changed the value"
Right now it fires if ANYONE changes the value.

[2016-05-19 18:29] Deklin commented on #110
Also for reference, this is now ng-change works, only fires if the control/directive itself changed the value.

[2016-05-21 01:21] frapontillo commented on #110
You should have read the contributing guidelines before opening an issue.

[2016-05-21 01:21] #110 closed

[2016-05-21 01:26] Deklin commented on #110
Sure i'll take a look, however it doesn't detract from this being an issue. But let me research what you suggested and get back.

[2016-05-21 01:30] Deklin opened #111 "switch-change should only fire if the switch itself changed the value"
Here is a plunkr showing the issue.
http://plnkr.co/edit/NYLyEUBz2fs3XFCKtCjS?p=preview

Basically lets compare ng-change to switch-change

ng-change only fires if the directive/controller managing the model makes the change, an outside change will not fire this

switch-change will fire if the model is changed even outside the angular-bootstrap-switch codebase.

[2016-05-21 01:32] Deklin commented on #111
In the plunkr you can compare the behavior between the checkbox and the switch itself.

[2016-05-21 01:38] frapontillo commented on #111
According to the documentation, "`switch-change` evaluates an expression when the model value changes". I am not going to handle out-of-Angular events in an Angular directive.
`ng-change` will instead fire when the view value changes, according to the AngularJS spec.

You may want to read the discussion [here](https://github.com/frapontillo/angular-bootstrap-switch/pull/109).

[2016-05-21 01:38] #111 closed

[2016-05-21 01:42] Deklin commented on #111
I can't believe I missed the fact that ng-change works on this... !! For some reason I read switch-change as your implementation of ng-change and that I was to use that instead of ng-change.
Just tested ng-change on the plunkr and it works fine.

Thanks for your quick reply and feedback.

[2016-05-26 03:58] dmitry-kostin opened #112 "Can not set switch-on-text and switch-off-text to empty string"
Hello,
Tried to set empty string to switch values
false, null, '', undefined, {{''}}, and etc. do now work, any help?

[2016-05-26 13:53] frapontillo commented on #112
If you want to use an empty string, you can try to use `&nbsp;`. Please tell me if this works out for you.

[2016-05-26 16:24] icholy opened #113 "New release"
Can you release a v0.5.1 with the `switchChange` fixes?

[2016-05-26 16:25] frapontillo commented on #113
Did that change the spec? If so, we may want to cut a new minor release.

[2016-05-26 16:26] icholy commented on #113
AFAIK, the API is completely unchanged.

[2016-05-26 16:28] frapontillo commented on #113
👍

[2016-05-27 11:28] dmitry-kostin commented on #112
Hi thanks for quick response,
No unfortunately this not worked
Created a pull request for this

[2016-05-27 12:21] frapontillo commented on #112
Can you share a plunker to test the behavior?

[2016-05-27 13:00] dmitry-kostin commented on #112
https://plnkr.co/edit/ffGptPSHkztfgJnhnW26?p=preview

[2016-05-30 07:21] frapontillo commented on #112
It looks like Angular reads the initial `attr="&nbsp;"` as the empty string, and therefore the plugin defaults to `'ON'` and `'OFF'`.
A workaround would be to use an explicit expression such as `switchOnText="{{'&nbsp;'}}"` (see working demo here: https://plnkr.co/edit/bxe6Hn?p=preview

[2016-05-30 07:21] #112 closed

[2016-06-03 10:04] tucq88 commented on #111
Yeah, I was like @Deklin . I thought that ng-change & switch-change doing same thing. How stupid.
Maybe we should update this into the README so people might not misunderstand this anymore.

[2016-06-03 10:04] frapontillo commented on #111
@tucq88 I will gladly accept PRs.

[2016-06-04 11:10] frapontillo commented on #113
Released!

[2016-06-04 11:10] #113 closed

[2016-06-09 12:50] mkrauser opened #116 "triggering switchChange on model change breaks my app"
The change in 8c9db85c2b6c6a7363aaa413f29013b2b6d2c372 is causing problem in my application. We load the data with ajax request and bind it to the switches. Since that change the binding triggers a switch-change and in our case, this breaks the app.

Is there any chance to make this behaviour optional?

[2016-06-09 12:52] frapontillo commented on #116
If you want to bind only to view changes, you can use `ng-change`.

[2016-06-09 12:57] mkrauser commented on #116
Ah, sometimes you just don't see the obvious. Thank you very much for the quick response and your work on this!

[2016-06-09 12:57] #116 closed

[2016-06-13 10:26] punyfeir commented on #87
plz refer to the plnkr demo you have to include all the css and js files

[2016-06-13 10:27] punyfeir commented on #87
http://plnkr.co/edit/SWy8YmrVi8IsTa4FuqSZ?p=info

[2016-06-14 14:40] albertjose commented on #52
Someone got something to fix this issue?

[2016-07-19 18:09] plong0 commented on #93
besides setting in controller, is there a way to disable indeterminate (ie. have it default to false)?

[2016-07-29 13:28] fishycrakers opened #117 "Rendering issue with bootstrap-switch"
I'll leave an image below.

When loading the bs-switch directive, onto an input element, the switch is
rendered with tabs in this order ["Yes","No","blank"],
whereas they should be rendered thusly ["Yes", "blank", "No"].

Could you advise on what might be causing this issue?

![basswitch](https://cloud.githubusercontent.com/assets/18060385/17249631/bf4f62fe-5598-11e6-8c58-49cd67bf30d5.png)

[2016-07-29 13:51] frapontillo commented on #117
There must be some other CSS conflicting.
If you need help please read the notice on how to contribute.

[2016-07-29 13:51] #117 closed

[2016-07-31 20:26] jnicolau commented on #76
It's clearly not working. Lol... why was the issue closed.

[2016-08-01 06:36] frapontillo commented on #76
@jnicolau then feel free to post a breaking sample.

[2016-08-01 06:56] mirow commented on #76
There's a new, slightly different, bug:
http://plnkr.co/edit/1SaSvTIzOeyjqWCl4GLH?p=preview
Set value to false, then click on "Toggle undefined". The visual state should become indeterminate, but it remains OFF.

[2016-08-01 06:58] frapontillo commented on #76
So it is an issue related to switching from false to `undefined`.

[2016-08-24 14:07] westerncj commented on #76
Are there any updates to this bug? When `ng-model` is set to `undefined` from a true state, it toggles to indeterminate. When it's set to `undefined` from a false state, indeterminate is not toggled.

[2016-08-28 02:48] kranthi2016 opened #118 "can not pass event as parameter to switch-change event"
This is my controller code
    $scope.onFreezeChange = function (e) {
        e.preventDefault();  // have to prevent default for certain conditions

    }

... and html contains below

input bs-switch ng-model="column.IsFreeze" type="checkbox" switch-size="mini"  switch-on-text="Freeze" switch-off-text="UnFreeze"   switch-change="onFreezeChange($event)"

On change event got fired but unable to pa

[2016-08-28 07:49] frapontillo commented on #118
There's no event bound to `switch-change`, i.e. what you're asking is not possible.

[2016-08-28 07:49] #118 closed

[2016-09-07 08:19] JonteFerm opened #119 "Size does not work"
Hey,

Why do sizing never seem to work on these bootstrap-angular plugins. Or am I doing something wrong? When I inspect the element which is the bootstrap element - I would have thought that it would have the class "bootstrap-switch-mini". It doesn't have a class specifying the size at all. It is as if the size wouldn't matter (haha). Is it possible that it's a bug?

          <input

[2016-09-07 08:24] #119 closed

[2016-09-09 04:42] pradt opened #120 "switch-change="onChange()" gets called immediately when loading"
Hi, I was looking to wire up this directive to call a web service api whenever there was a change in the value. I saw that there is a function that I can place on the switch-change attribute, however, I noticed that this is getting called on first render (when the page loads) as opposed to when the user has interacted with the switch.

I tested this using :
//model:

[code]

//onChange Function

[

[2016-09-09 05:02] pradt commented on #120
I tried to debug this and noticed that the switchChange() is being called upon a model change. I'm wondering why this would need to call the switchChange function if a model is changed ?

`          controller.$render = function () {
            initMaybe();
            var newValue = controller.$modelValue;
            if (newValue !== undefined && newValue !== null) {
              element.boots

[2016-09-10 08:06] frapontillo commented on #120
What do you mean? `switch-change` is called every time the model changes. If you want to listen to view changes, please use `ng-change`.

[2016-09-11 09:22] pradt commented on #120
ok I'll try that, what's switch-change for ?

[2016-09-11 15:51] frapontillo commented on #120
It's for [model changes](https://github.com/frapontillo/angular-bootstrap-switch#directive).

[2016-10-06 12:04] millenjo commented on #120
The problem is most likely that the ng-model value is evaluated as undefined when the template is rendered and when the controller sets available to false the directive interprets it as a model change, which it strictly speaking is even though one might argue that a ng-model change from undefined->true/false should not trigger a model change since it's almost always just an init case.

The problem

[2016-12-29 13:57] Firzenizer commented on #120
I also ran into this and I find it unexpected behaviour. In my app an undefined settings item gets initialized and this is triggering switch-change. Using ng-change now. It works as I wanted it to work.

[2017-01-27 00:20] Sheeryada opened #123 "Support for angular 1.6"
Hi, Does this support angular 1.6.x versions?

[2017-01-27 09:59] frapontillo commented on #123
I have no idea, I am not actively maintaining this project anymore.

[2017-03-06 15:05] ygilliot commented on #123
I use it with angular 1.6.2. No problem until now.

[2017-03-06 15:07] frapontillo commented on #123
Can you please follow the [**very detailed instructions**](https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md) on how to report an issue?

[2017-03-12 10:18] smohammedyasin opened #124 "confirmation for toggle switch"
Hi,

How can i show confirmation popup before set "ON" Or "OFF".
i have found very good script in jquery bootstrap. [https://jsfiddle.net/hL0as0mv/122/](https://jsfiddle.net/hL0as0mv/122/) .
could any one help me get same way in angluar switch.

Appreciate for Best & Quick response

[2017-03-22 13:01] smlombardi opened #126 "Does not initialize in Angular 1.5.11 project"
Throws a console error:

`Error: d.bootstrapSwitch is not a function. (In 'd.bootstrapSwitch', 'd.bootstrapSwitch' is undefined)`

![screen shot 2017-03-22 at 8 59 25 am](https://cloud.githubusercontent.com/assets/835148/24198833/e0f972f6-0edd-11e7-9353-a1c60a7fe41a.png)

I links the min.js file from dist folder, injected the module and added this to my page:

[code]
where the controller is "contr

[2017-04-12 22:08] chasingtheflow opened #127 "Switch controlling / disabling another switch"
Hi,

I have an issue where I have two switches, one which controls both the state and read-only attribute of the second switch.

Essentially it's the following:

[code]
[code]

So when the Active switch is turned off then the Info Switch should turn off and be disabled. When the active switch turns back on the Info Switch should turn back on and no longer be disabled.

Instead the Info switch is d

[2017-04-18 02:07] Tindtily opened #129 "Render bug"
when zoom in/out to 90%/110% in chrome window and then load the plugin, the ui will be unusual. If you load the plugin first, there is no bug。

[2017-04-19 09:17] frapontillo commented on #129
Please read this: https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md#-report-an-issue

[2017-04-19 09:17] #129 closed

[2017-04-19 09:18] frapontillo commented on #127
Please read this: https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md#-report-an-issue

[2017-04-19 09:18] #127 closed

[2017-04-19 09:18] frapontillo commented on #126
Please read this: https://github.com/frapontillo/angular-bootstrap-switch/blob/develop/CONTRIBUTING.md#-report-an-issue

[2017-04-19 09:18] #126 closed

[2017-04-19 09:20] frapontillo commented on #124
You can use `switch-change` to do whatever you want and eventually revert to the inverse value if the confirmation is not successful.

Please re-open the issue if you still have this problem.

[2017-04-19 09:20] #124 closed

[2017-04-19 09:20] #123 closed

[2017-04-19 09:21] frapontillo commented on #120
Please re-open if you still have this issue.

[2017-04-19 09:21] #120 closed

[2017-04-19 09:23] frapontillo commented on #82
This will not happen anymore, @alexilyaev please re-open this if you're interested in doing it, in which case I'll assign the issue to you.

[2017-04-19 09:23] #82 closed

[2017-04-19 15:36] chasingtheflow commented on #127
Here is a demo: http://plnkr.co/edit/pvsMEDWNI5t87XeeHSoh?p=preview

[2017-04-20 00:25] alexilyaev commented on #82
Moved to React long ago. Ditch this.

[2017-04-22 00:40] chasingtheflow commented on #127
Do I need to reopen a new issue now that I have provided a demo?

[2017-04-24 08:32] frapontillo commented on #127
@chasingtheflow no, it's ok 😄 I'll take a look as soon as I have a moment. Thanks.

[2017-04-24 19:14] chasingtheflow commented on #127
Okay! No problem. I have a work around / hack that's working for me for the time being anyhow. Thanks

[2017-06-29 17:48] chasingtheflow commented on #127
Any progress on this?

[2017-07-19 09:08] Ataraxo opened #132 "Switch in readonly does not change when i change model"
How can I do for change the state of the switch when the switch is in readonly.

For example my switch is linked with a model. If I change the model and my switch is not in readonly everything is OK, the state of my switch change.
But if my switch is in readonly and I change the model, the state of my switch does not change :(

http://embed.plnkr.co/I85Ddhyrm1tUVoLXjrFC/

[2017-12-12 09:26] sginer opened #134 "Delay to render the page"
Hello,

When we have a lot of swithc on a same page (more than 30), the page take a while to be displayed.

Regards

Stéphane GINER

[2017-12-12 09:28] frapontillo commented on #134
Please provide a live demo of this, then reopen the issue.
Thanks.

[2017-12-12 09:28] #134 closed, assigned to nobody

[2018-06-28 11:46] eduda opened #135 "switch back to null?"
is there a setting to allow the user to set the switch back to null and not have it false or true?

[2018-07-09 07:47] kamal-bhatt opened #136 "Switch not disabled on page load"
Here is my plnkr
https://plnkr.co/edit/qFFKaNpKXtZiLamf91bi?p=preview

[2019-04-09 14:17] harishajdarevic opened #137 "Click on inactive state should toggle switch"
Hello,

Currently if we add switch and with a text lets say 'Enabled' / 'Disabled'.

If 'Enabled' is active and we want to change it to 'Disabled' we have to click on active part of switch in this case 'Enabled' to toggle switch and set it to disabled.

Is it possible to make whole switch clickable?

[2019-05-02 17:01] himdel opened #138 "null and undefined not supported in ngTrueValue/ngFalseValue"
Angular bootstrap switch `controller.$render` explicitly sets `indeterminate` state when `newValue` is `undefined` or `null`.

That's usually fine, except when using something like...

`ng-true-value="'foobar'" ng-false-value="undefined"`, and actually setting the model to `undefined`.

In that situation, bootstrap-switch should be false, not indeterminate.

EDIT: talking about a checkbox.

[2019-05-02 17:02] himdel commented on #138
The best test case is probably...

`ng-true-value="undefined" ng-false-value="null"`

Because true value being set to undefined will fail sooner, as `getTrueValue` will assume the value was not set and should be `true` instead of `undefined`.

[2019-06-19 19:05] Joel3550 commented on #91
hello,
someone solved it?

[2020-08-26 05:11] vidyashreejy commented on #124
Please explain how to use switch-change to pop up a confirmation modal before toggling the switch. I'm new to angular so please help me. thanks in advance